:root {
    --cor-titulos: #f5b41c;
}

.pag-atendimento {
    height: 60vh auto;
    padding-bottom: 50px;
}

.pag-atendimento h1 {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;
    text-align: center;
    color: var(--cor-titulos);
}

.h-secretaria h2 {
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.endereco h2 {
    font-size: 20px;
    text-align: center;
}

.mapa {
    display: flex;
    justify-content: center;
}