.pag-1 {
    height: 50vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.pag-2 {
    height: 50vh;
    background-color: #e0e0e0;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto;
}

.pag-1 img {
    max-height: 350px;
    height: auto;
}

.pag-2 img {
    max-height: 350px;
    height: auto;
}

.box-celebracoes-igrejas {
    height: 60vh auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: auto auto auto;
    justify-content: space-between;
    padding-bottom: 20px;
}

@media only screen and (max-width: 899px) {
    .box-celebracoes-igrejas {
        height: 60vh auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: auto auto auto;
        justify-content: center;
        padding-bottom: 20px;
    }
}


.church {
    width: 300px;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    float: left;
    margin: 20px 0 20px 0;
}
.church img {
    width: 100%;
}
.mass-times {
    padding: 10px;
}
    